body{
    background-color: var(--text-color);
}

:root{
    --background : #18534F;
    --second-color : #226D68;
    --text-color : #ECF8F6 ;
    --third-color : #FEEAA1 ;
    --fourth-color : #D6955B;
    /* --bouton-hover : #c32626;
    --text-gris: #333333;
    --text-blanc: #FFFFFF;
    --text-gris-bleu : #384454 ;
    --text-jaune : #E1A624;
    --couleur-marron : #AD956B; */
}

.container-navBar{
    background-color: var(--background);
    color: var(--text-color);
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 1000;
}

.container-img{
    padding-left: 20px;
    width: 10%;
}
.container-img img {
    width: 40px;
}

.container-title{
    width: 25%;
    font-size: 1.8rem;
    text-align: center;
    display: flex;
    color: var(--fourth-color);   
    gap: 20px;
}

.kurama{
    width: 100px;
    padding: 10px 0;
}


.container-categorie{
    width: 10%;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 11;
    font-size: 1.4rem;
}
.under-categorie{
    position: absolute;
    top: 100px;
    left: 25%;
    background-color: var(--background);
    width: 50%;
    text-align: center;
    z-index: 10;
    font-size: 1.2rem;
    cursor: pointer;
}

.icon-close{
    position: absolute;
    right: 10px;
    top: 10px;
}
.souligne{
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
}
.souligne::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--text-color);
    transition: width 1s ease-out;
}
.souligne:hover::after{
    width: 100%;
}
.souligne-click{
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
}
.souligne-click::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    transition: width 0.5s ease-out; 
}


/*PARTIE ADMIN*/

.admin-container{
    width: 40%;
    justify-self: flex-end;  
    display: flex;
    justify-content: flex-end;
}
.admin-container img {
    width: 40px;
    cursor: pointer;
}
